@import '../../../scss/variables.scss';

#navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  height: calc($headerHeight - (12px * 2));
  min-width: calc(48px * 5);

  overflow: hidden;
  border: 2px solid #3d3d3d;
  border-radius: 0.5rem;

  .navbar-home,
  .navbar-favorites {
    display: grid;
    place-items: center;

    transition: 0.4s;

    .btn-container {
      display: grid;
      place-items: center;

      height: 100%;
      width: 100%;

      cursor: pointer;
      background-color: black;
      color: white;

      transition: 0.4s;

      &:hover {
        filter: invert(1);
        transition: 0.4s;
      }
    }
  }

  .navbar-home {
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar-favorites {
    grid-column: span 3;
    grid-template-columns: repeat(3, 1fr);
  }

  &.is-home {
    .navbar-home .btn-container {
      background-color: white;
      color: black;
      transition: 0.4s;
    }
  }
  &.is-favorites {
    .navbar-favorites .btn-container {
      background-color: white;
      color: black;
      transition: 0.4s;
    }
  }
}
