<div id="navbar" class="is-home">
  <div class="navbar-home">
    <div>
      <div class="navbar-icon">
        <mat-icon fontIcon="home" aria-label="Home" aria-hidden="false"></mat-icon>
      </div>
    </div>
    <div>
      <div>Início</div>
    </div>
  </div>
  <div class="navbar-favorites">
    <div>
      <div class="navbar-icon">
        <mat-icon fontIcon="favorite" aria-label="Favoritos" aria-hidden="false"></mat-icon>
      </div>
    </div>
    <div style="padding-right: 3px;">
      <div>Favoritos</div>
    </div>
    <div>
      <div class="count-favorites">
        <div>
          <span>5</span>
        </div>
      </div>
    </div>
  </div>
</div>
