<div id="navbar">
  <a class="navbar-home" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div>
      <div class="navbar-icon">
        <mat-icon fontIcon="home" aria-label="Home" aria-hidden="false"></mat-icon>
      </div>
    </div>
    <div class="p-fix">
      <span>Início</span>
    </div>
  </a>
  <a class="navbar-favorites" [routerLink]="'/favorites'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <div>
      <div class="navbar-icon">
        <mat-icon fontIcon="favorite" aria-label="Favoritos" aria-hidden="false"></mat-icon>
      </div>
    </div>
    <div class="p-fix">
      <div>
        <span class="d-inline d-md-none">Fav.</span>
        <span class="d-none d-md-inline">Favoritos</span>
      </div>
    </div>
    <div>
      <div class="count-favorites">
        <div>
          <span>{{favoritedCharacters.length}}</span>
        </div>
      </div>
    </div>
  </a>
</div>
