@import '../../../scss/variables.scss';

#navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(5, min-content);

  height: calc($headerHeight - (12px * 2));

  overflow: hidden;
  border: 2px solid #3d3d3d;
  border-radius: 0.75rem;

  // font
  font-weight: 700;

  .navbar-home,
  .navbar-favorites {
    cursor: pointer;
    display: grid;
    place-items: center;

    background-color: #0a0a0a;

    color: #a4a4a4;
    text-decoration: none;

    transition: 0.4s;

    .navbar-icon {
      display: grid;

      mat-icon {
        transform: scale(0.9);
      }
    }

    & > div > div {
      padding: 0 8px;
    }
    & > div > .navbar-icon {
      padding-left: 8px;
      padding-right: 0px;
    }

    .p-fix {
      padding-right: 5px;
    }
  }

  .navbar-home {
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, min-content);

    &.active {
      cursor: default;
      background-color: white;
      color: #0a0a0a;
      transition: 0.4s;
    }
  }

  .navbar-favorites {
    grid-column: span 3;
    grid-template-columns: repeat(3, 1fr);

    &.active {
      cursor: default;
      background-color: white;
      color: #0a0a0a;
      transition: 0.4s;
    }

    & > div:last-of-type {
      padding-right: 6px;
    }
  }

  .count-favorites {
    $circleSize: 26px;
    padding: 0 !important;

    text-align: center;

    height: $circleSize;
    width: $circleSize;
    background-color: white;
    border-radius: 99px;
    border: 2px solid #3d3d3d;

    span {
      color: #0a0a0a;
      font-size: 16px;
      position: relative;
      top: -1px;
    }
  }
}
