@import '../../../scss/variables.scss';

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100%;

  user-select: none;
  height: $headerHeight;
  background-color: #0a0a0a;

  display: grid;
  place-items: center;

  .container {
    max-width: 100%;

    .logo {
      height: calc($headerHeight - (12px * 2));
    }
  }
}
