@import 'scss/angular-material.scss';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	scrollbar-width: thin; /* 8px */
	scrollbar-color: #00b5cc rgba(0, 0, 0, 0.5);
}

// bootstrap
* {
  outline: none;
}

div.custom-container {
  max-width: calc(300px * 3 + 12px * 8); // img = 300px, bs padding = 12px  (p-container p img p p img p p img p p-container)
}

input:focus {
  box-shadow: none !important;
}
// /bootstrap

html body {
  background-color: #1f1f1f !important;
  min-height: 100vh;
}

// fonts
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.font-creepster {
  font-family: 'Creepster', system-ui;
  letter-spacing: -0.7px;
}

.font-poppins {
  font-family: 'Poppins', system-ui;
}

html body {
  font-family: 'Poppins', system-ui;
  font-size: 14px;
}

h1.h1-title {
  user-select: none;
  margin-bottom: 0;

  // font
  font-family: 'Creepster', system-ui;
  font-size: 4.25rem;
  color: #00b5cc;

  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #b2df28;
}
// /fonts

.place-items-center {
  place-items: center;
}

.place-items-center-end {
  place-items: center end;
}
