@import "../../../scss/variables.scss";

$m5: 3rem;
$h1Size: 4.25rem;

#MainContainer {
  margin: 0 auto;

  @media all and (max-width: 991px) { // <= BS lg
    min-width: calc(300px + 12px * 2);
    max-width: calc(300px * 2 + 12px * 2);
  }

  .character-container {
    .character-container-inner {
      position: relative;
      overflow: hidden;
      margin: 0 auto;

      max-width: 300px;

      border: 2px solid #3d3d3d;
      border-radius: 1rem;

      .character-img {
        -webkit-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        // user-drag: none;

        display: block;
        margin: 0 auto;

        height: auto;
        width: 100%;

        aspect-ratio: 1 / 1;
      }

      .character-details-container {
        padding: 1rem;
        background-color: #0a0a0a;

        h1, p {
          margin-bottom: 0;
        }

        h1 {
          font-size: 2rem;
          color: white;
        }

        p {
          font-size: 1.5rem;
          color: #a4a4a4;
        }
      }
    }
  }
}

#empty {
  user-select: none;
  display: grid;
  place-items: center;

  width: 100%;
  height: calc(95vh - $headerHeight - $m5 - $h1Size - $m5 - $m5); // leia #1
  min-height: 200px;

  background-color: #0a0a0a;

  border: 2px solid #3d3d3d;
  border-radius: 0.75rem;

  .h1-empty,
  .h2-empty {
    span:nth-child(2) {
      display: none;
    }
  }

  .h1-empty {
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
  }

  .h2-empty {
    font-size: 1.5rem;
    color: #a4a4a4;
    font-weight: 400;
  }

  .btn-go-to-home {
    display: none;

    margin: 0 auto;
    margin-top: 1rem;

    border-radius: 0.75rem;
    padding: 0.25rem 1.25rem;

    // font
    font-size: 1.35rem;
    color: #0a0a0a;
    font-weight: 700;
  }
}

/*
  #1
  95% = 100% - 5% margem de segurança
  depois segue a sequência do layout, header, margin, título, margin
  e finaliza com mais uma margem pra não bater no final da página
*/
