<div id="MainContainer" class="mt-5">
  <div
    id="empty"
    *ngIf="
      (routeIsActive('/') && rickAndMortyCharactersResult.allCharacters.length === 0) ||
      (routeIsActive('/favorites') && favoritedCharacters.length === 0) &&
      rickAndMortyCharactersResult.loadingNextPage.getValue() === false
    "
  >
    <div class="text-center">
      <h1 class="h1-empty">
        <span *ngIf="routeIsActive('/')">Nada foi encontrado</span>
        <span *ngIf="routeIsActive('/favorites')">Parece que você ainda não tem favoritos</span>
      </h1>
      <h2 class="h2-empty">
        <span *ngIf="routeIsActive('/')">Tente realizar uma nova busca.</span>
        <span *ngIf="routeIsActive('/favorites')">Volte à página inicial e escolha os melhores para você.</span>
      </h2>
      <button class="btn-primary btn-go-to-home" [routerLink]="'/'">
        Voltar ao início
      </button>
    </div>
  </div>
  <div
    class="row"
      *ngIf="
        (routeIsActive('/') && rickAndMortyCharactersResult.allCharacters.length > 0) ||
        routeIsActive('/favorites') && favoritedCharacters.length > 0
      "
    >
    <div class="character-container col-12 col-md-6 col-lg-4 mb-5" *ngFor="let character of (routeIsActive('/') ? rickAndMortyCharactersResult.allCharacters : favoritedCharacters)">
      <div class="character-container-inner">
        <app-btn-favorite [currentCharacter]="character"></app-btn-favorite>
        <div class="character-img-container">
          <img class="character-img" src={{character.image}} alt="{{character.name}}" />
        </div>
        <div class="character-details-container">
          <h1 class="font-creepster text-ellipsis">{{character.name}}</h1>
          <p class="text-ellipsis">{{character.species}}</p>
        </div>
      </div>
    </div>
  </div>
  <h1 class="h1-title text-center" *ngIf="rickAndMortyCharactersResult.loadingNextPage.getValue()">
    CARREGANDO...
  </h1>
</div>
